[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
bs4 = "*"
requests = "*"
matplotlib = "*"
statsmodels = "*"
pmdarima = "*"
tensorflow = "*"
sklearn = "*"
flask = "*"
sqlalchemy = "*"
flask-table = "*"
black = "*"
isort = "*"
flake8 = "*"
urllib3 = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
